@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,700i&display=swap");

html {
  body {
    padding: 0;
    margin: 0;
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
      Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
}
.hero {
  visibility: hidden;
  height: 100vh;
  // width: 100vh;
  .container {
    width: 100vw;
    min-width: 100vw;
    margin: 0 auto;
    .hero-inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 24px;
      height: 100vh;
      .hero-content {
        width: 50%;
        .hero-content-inner {
          width: 400px;
          color: #323232;
          margin: 0 auto;
          h1 {
            font-weight: 500;
            font-size: 32px;
            margin-bottom: 24px;
            .hero-content-line {
              margin: 0;
              height: 44px;
              overflow: hidden;
              .hero-content-line-inner {
              }
            }
          }
          p {
            font-size: 14px;
            line-height: 24px;
            font-weight: 300;
            padding-right: 48px;
            margin-bottom: 56px;
          }
          .btn-row {
            position: relative;
            &:before {
              position: absolute;
              content: "";
              width: 56px;
              height: 1px;
              background: #dfdfdf;
              top: 50%;
              left: -68px;
            }
            button {
              background: none;
              border: none;
              font-size: 12px;
              padding: 0;
              cursor: pointer;
              text-transform: uppercase;
              font-weight: 700;
              letter-spacing: 0.7px;
              display: flex;
              align-items: center;
              position: relative;
              &:focus {
                outline: none;
              }
              .arrow-icon {
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;
                background: linear-gradient(to right, #29a0e6, #0347da);
                height: 48px;
                width: 48px;
                border-radius: 100px;
                margin-left: 16px;
                left: 64px;
                transform-origin: center center;
              }
            }
          }
        }
      }
      .hero-images {
        width: 100vw;
        height: 100vh;
        position: relative;
        .hero-images-inner {
          .hero-image {
            position: absolute;
            overflow: hidden;
            &.place1 {
              top: 1.5vh;
              right: 2vw;
              width: 30vw;
              height: 30%;
            }
            &.place2 {
              bottom: 15vh;
              left: 0vw;
              width: 25vw;
              height: 70%;
            }
            &.place3 {
              bottom: -5vh;
              left: 35vw;
              width: 29vw;
              height: 60%;
            }
            &.place4 {
              bottom: -26vh;
              left: -7vw;
              width: 36vw;
              height: 65%;
            }
            img {
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              width: 100%;
            }
          }
        }
      }
    }
  }
}

a {
  position: relative;
  padding: 20px 34px;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  width: 200px;
  overflow: hidden;
  border-radius: 34px;
}

a span {
  position: relative;
  color: #fff;
  font-size: 20px;
  font-family: "Poppins";
  letter-spacing: 8px;
  z-index: 1;
  cursor: pointer;
}

a .liquid {
  position: absolute;
  top: -82px;
  left: 0;
  width: 200px;
  height: 200px;
  background: #1749eed8;
  box-shadow: inset 0 0 50px rgb(255, 255, 255);
  transition: 0.4s;
}

a .liquid::after,
a .liquid::before {
  content: "";
  width: 200%;
  height: 200%;
  position: absolute;
  top: 80;
  left: 60%;
  transform: translate(-50%, -75%);
  background: rgb(255, 255, 255);
}

a .liquid::before {
  border-radius: 255%;
  background: rgb(255, 255, 255);
  animation: animate 10s linear infinite;
}

a .liquid::after {
  border-radius: 32%;
  background: rgba(185, 198, 231, 0.664);
  animation: animate 10s linear infinite;
}

a:hover .liquid {
  top: -100px;
  cursor: pointer;
}

@keyframes animate {
  0% {
    transform: translate(-40%, -75%) rotate(-100deg);
  }
  50% {
    transform: translate(-50%, -75%) rotate(150deg);
  }
  100% {
    transform: translate(-60%, -75%) rotate(360deg);
  }
}
