.profile-header {
  transform: translateY(5rem);
}

.pageContainer {
  width: 80%;
  align-items: center;
}

/* body {
  background: #654ea3;
  background: -webkit-linear-gradient(to right, #654ea3, #eaafc8);
  background: linear-gradient(to right, #654ea3, #eaafc8);
  min-height: 100vh;
} */
